*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0px;
}

section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./images/dog-party-assets/park.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 750px;
}

article {
  background-color: #fff;
  height: 450px;
  width: 200px;
  margin: 0px;
  display: inline;
}

div {
  display: inline;
}

.white {
  color: white;
}


.center {
  text-align: center;
}

.form_container {
  margin: 0 auto;
  text-align: center;
  width: 200px;
}

.column {
  float: left;
  width: 33%;
  margin-right: 0.3%;
  padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  width: 240px;
  border-radius: 250px;
  border: solid 5px #048eaa;
}

.footer {
  margin-top: 25px;
}

.row {
  text-align: center;
}

.row p {
  text-align: left;
}

#center {
  text-align: center;
}


.nav-top {
  background-color: #75e2e6;
  text-align: right;
  padding: 8px;
  border-bottom: solid #048eaa 3px;
  margin: 0px;
}

.nav-top li {
  display: inline-block;
  padding: 22px;
  font-size: 20px;
  font-family: 'open sans';
  font-weight: 800;
}

#icon {
  float: left;
  height: 70px;
  margin-top: 10px;
  border: 0px;
  margin-left: -25px;
}

h1 {
  text-align: center;
  margin: 0px;
  color: #ffffff;
  padding: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  font-weight: 400;
}

.bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

#first_pic {
  align: center;
  border-radius: 145px;
  border: solid 5px #048eaa;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  height: 300px;
  width: 300px;
}

#submit {
  margin: 0 auto;
  display: block;
  background-color: #75e2e6;
  border-radius: 5px;
}

p {
  display: block;
  color: black;
  font-size: 20px;
  width: 100%;
  padding: 5px;
  font-family: 'open sans';
  margin-top: 25px;
}

label {
  display: block;
  color: white;
  font-size: 24px;
  width: 100%;
  padding: 5px;
  font-family: 'open sans';
  margin-left: -12%;
  margin-bottom: 10px;
}

input {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 30px;
  font-size: 18px;
  font-family: 'open sans';
}

footer {
  clear: both;
  padding: 15px;
  background-color: #048eaa;
  height: 200px;
}

.contact_icon {
  width: 50px;
  margin: 10px;
  margin: 0 auto;
  border-radius: 0px;
  margin-top: 25px;
  margin-bottom: 25px;
}

h2 {
  font-family: 'open sans';
  margin-top: 20px;
  margin-bottom: 20px;
}

.button {
  background-color: #048eaa;
  margin-top: 20%;
  width: 100%;
  border-radius: 3px;
  color: white;
}

.b_button {
  background-color: #048eaa;
  float: left;
  width: 31%;
  margin-right: 2.3%;
  color: white;
  margin-bottom: 25px;
}
